<!doctype.html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	        
	        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" 
	              integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
			<title>Resturant Recommendations</title>
			<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<div id="resturant-list" class="container">
			<a href="/"><h1 class="grace-blue">Welp Forecaster</h1> </a>   
			<h3>Forecasting Good Food for {{city}}</h3>
			<p>
			{{headline}}
			</p>
			{% for resturant in resturants %}
				<div class="card">
					<img class="card-img-top center-cropped" src="{{resturant.image_url.replace('ms.jpg', 'l.jpg')}}" alt="{{resturant.name}}">
					<div class="card-block">
						<h5 class="card-title text-nowrap">{{resturant.name}}</h5>
						<p class="card-text">
							<img src="{{resturant.rating_img_url}}"/>
							<br />
							{{resturant.review_count}} Reviews
						</p>
						<a target="_blank" href="{{resturant.url}}" class="btn btn-primary">Visit</a>
					</div>					
				</div>
			{% endfor %}
		</div>	
		<footer class="container">
            <hr />
            <nav class="nav nav-inline">
              <a class="nav-link" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i> LinkedIn</a>
              <a class="nav-link" href="https://github.com"><i class="fa fa-github"></i> Github</a>
              <a class="nav-link" href="https://www.facebook.com/"><i class="fa fa-facebook"></i> Facebook</a>
              <a class="nav-link" href="https://www.twitter.com/"><i class="fa fa-twitter"></i> Twitter</a>
            </nav>
         </footer>
	</body>
</html>