#resturant-list .card {
	min-width: 200px;
	max-width: 300px;
	max-height: 476px;
	min-height: 476px;
	float: left;
	margin: 5px;
	box-sizing: border-box;
}


.center-cropped {
  object-fit: cover;       /* Scale the image so it covers whole area, thus will likely crop */
  object-position: center; /* Center the image within the element */
  height: 300px;
  width: 300px;
}

h3 {
	overflow: hidden;
}

.grace-blue {
	color: #5bc0de;
}

.grace-nav {
	border-radius: 0
}

a:hover {
	text-decoration: none
}

h1:hover {
	opacity: .5
}

.push-left {
	margin-left: 15px;
}